<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="VIP会员成长体系-宝象金融">
    <meta name="description" content="VIP会员成长体系-宝象金融">
    <title>VIP会员成长体系-宝象金融</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="bx_wrap">
        {header}
        <div class="bx_main">
            <div class="banner">
                <img src="./images/banner-vip.jpg" />
            </div>
            <div class="vip-wrap" id="vip-con">
                <div id="domTemplate"></div>
                <div class="vip-rule">
                    <div class="QA">
                        <p class="rule-title">什么是会员等级？</p>
                        <div class="rule-txt">
                            <ul>
                                <li>1、宝象金融根据会员的净资产（可去“我的-净资产”查看），将会员分为不同等级，享受不同的权益和增值服务。</li>
                                <li>2、会员净资产越多，相应的会员等级越高，可享受的会员权益越多。净资产越少，相应的会员等级越低，可享受的会员权益越少。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="QA">
                            <p class="rule-title">如何提升会员等级？</p>
                            <div class="rule-txt">
                                <p>会员在宝象金融平台的净资产增加且达到下一等级标准后，即可在2小时内更新会员等级。若会员净资产减少，不满足当前等级标准，等级会在次月1日更新。</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {copyright}
    <!-- <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/artTemplate.js"></script> -->
    <script id="domElement" type="text/html">
        <div class="vip-table">
                <div class="vip-table-title">
                    <i class="line-left"></i>
                    <span>会员等级与权益</span>
                    <i class="line-right"></i>
                </div>
                <div class="vip-list">
                    <p class="table-title">会员升级规则</p>
                    <table class="table-level">
                        {{each level as value i}}
                        {{if value.name=='净资产'}}
                            <tr>
                                <td class="w-258">{{value.name}}</td>
                                {{each value.list as value i}}
                                <td>{{value.name}}</td>
                                {{/each}}
                            </tr>
                            {{else}}
                            <tr>
                                <td class="w-258">{{value.name}}</td>
                                {{each value.list as value i}}
                                <td>
                                    <i class="{{value.current?'current':''}}"></i>
                                    <img src="//bxwd-img.oss-cn-hangzhou.aliyuncs.com/{{value.logo}}"/>{{value.level}}
                                </td>
                                {{/each}}
                            </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                    <p class="table-title">会员特权</p>
                    <table class="table-member">
                        {{each member as item i}}
                            {{each item.type as value i}}
                            <tr>
                                {{if i==0}}
                                <td rowspan="{{item.type.length}}" class="w-95">{{item.name}}</td>
                                <td class="w-163"><img src="//bxwd-img.oss-cn-hangzhou.aliyuncs.com/{{value.typeName.logo}}"/>{{value.typeName.name}}</td>
                                {{else}}
                                <td class="w-163"><img src="//bxwd-img.oss-cn-hangzhou.aliyuncs.com/{{value.typeName.logo}}"/>{{value.typeName.name}}</td>
                                {{/if}}
                                {{each value.typeShowList as val index}}
                                <td class="{{val==true?'select':''}}">{{val}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        {{/each}}
                    </table>
                    <div class="masking">
                        <p>当前等级</p>
                    </div>
                </div>
                <p class="formula">x=净资产=在投金额（含直投标、月月丰、债权转让）+余额+添添金-总负债（如个人消费贷、逾期罚款等）</p>
                <div class="vip-login">
                    {{if !login}}
                    <button class="js-login">登录后查看权益详情</button>
                    {{else}}
                    <a href="//www.bxjr.com/topic/sign/" class="btn-details">查看权益详情</a>
                    <p class="vip-info">当前净资产为{{info.netAsset}}元{{if !info.status}}，距离下一级还差{{info.gapAsset}}元{{/if}}</p>
                    {{/if}}
                </div>
            </div>
    </script>
    <script>
        //供登录成功后调用
        function loginSuccess() {
            location.reload(true);
        }

        $(function () {

            //计算当前等级
            var getOffset = function () {
                var elOffset = $('.current').offset(),    //当前等级在页面中的我位置
                    navHeight=$('.bx-nav-wrap').outerHeight(),//banner高度
                    tdHeight = $('.table-level td').eq(0).outerHeight(),  //td的高度
                titleHeight = $('.table-title').outerHeight(),    //title的高度
                tableHeight = $('.vip-list').height();   //table的高度
                elOffset.top -= (tdHeight+navHeight);
                elOffset.height = tableHeight - titleHeight;
                $('.masking').css(elOffset).show();
            }

            //获取数据渲染模板
            $.get('/level/vip-explain.html', function (result) {

                var html = template('domElement', result);
                document.getElementById('domTemplate').outerHTML = html;

                //根据是否登录及用户信息判断选中当前等级
                if (result.login) {
                    getOffset();
                    $(window).on('resize', function () {
                        getOffset();
                    })
                }
            })

            //登录
            $('body').on('click', '.js-login', function () {
                $('.js-login-btn').trigger('click');
            })

        })
    </script>
    <!-- 访问统计 start -->
    <span style="display: none;">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var s = document.getElementsByTagName("script")[0];
                //百度统计
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?9d8516b072af1baf608b889209361cbe";
                s.parentNode.insertBefore(hm, s);
                //友盟统计
                var ym = document.createElement("script");
                ym.src = "//s4.cnzz.com/z_stat.php?id=1258672745";
                s.parentNode.insertBefore(ym, s);
            })();



        </script>
    </span>
    <!-- 访问统计 end -->
</body>

</html>